<style type="text/css">
  #nav, #sidebar, #messaging, .title span {
    /* Hide nav, sidebar, messaging, title */
    display: none !important;
  }
  #content .col1.sidebar-min {
    width: 100%;
  }
  @media only screen and (max-width: 767px) {
    body {
      font-size: 16px;
    }
    h1 {
      font-size: 20px;
      padding: 0;
      margin: 5px 0;
    }
    #nav .containerOS, #content .containerOS {
      padding: 0 10px;
    }
    #content {
      margin-top: 10px;
    }
    #content .col1 .title {
      padding: 0 5px;
    }
    #content .col1 .details {
      padding: 5px;
      margin-top: 7px;
    }
    #chatbox {
      width: 80%;
    }
    .header {
      height: 56px;
      overflow-y: auto;
    }
    .details {
      height: calc(100vh - 216px);
      overflow-y: auto;
    }
  }
</style>

<div class="header">
  <div class="title">
    <h1>{{ identifier}} {{ title }}</h1>
  </div>
</div>

<div class="details">
    <style type="text/css">
      .option {
        padding: 8px 6px;
        font-weight: bold;
      }
      @media only screen and (max-width: 767px) {
        .fill {
          width: 100%;
        }
        .center {
          margin: auto;
          width: 100%;
          text-align: center;
        }
        .center-block {
          padding: 30px 0;
          text-align: center;
        }
        .larger {
          font-size: larger;
        }
      }
      .spacer-top {
        margin-top: 7px;
      }
      .spacer-top-lg {
        margin-top: 15px;
      }
    </style>

  <div ng-if="!mode || mode === 3" ng-bind-html="text | translate"></div>
  <ng-include ng-if="mode === 1" src="'static/templates/openslides_voting/mobile-motion.html'"></ng-include>
  <ng-include ng-if="mode === 2" src="'static/templates/openslides_voting/mobile-assignment.html'"></ng-include>

</div>

<div os-perms="agenda.can_be_speaker" ng-show="!isStartPage" class="spacer-top">
  <span ng-if="speakerPos">{{ speakerPos }}. <translate>Speaker</translate></span>
  <span ng-if="!speakerPos">--</span>

  <button ng-if="!speakerPos && !speakerListOpen"
    type="button" class="btn btn-default pull-right disabled">
    <i class="fa fa-microphone fa-lg"></i>
    <translate>Add me to speakers</translate>
  </button>
  <button ng-if="!speakerPos && speakerListOpen" ng-click="addSpeaker()"
    type="button" class="btn btn-success pull-right">
    <i class="fa fa-microphone fa-lg"></i>
    <translate>Add me to speakers</translate>
  </button>
  <button ng-if="speakerPos" ng-click="removeSpeaker()"
    type="button" class="btn btn-danger pull-right">
    <i class="fa fa-microphone-slash fa-lg"></i>
    <translate>Remove me from speakers</translate>
  </button>
</div>
