<style type="text/css">
  @media only screen and (max-width: 767px) {
    body {
      font-size: 16px;
    }
    h1 {
      font-size: 20px;
      padding: 0;
      margin: 5px 0;
    }
    #nav .containerOS, #content .containerOS {
      padding: 0 10px;
    }
    #content {
      margin-top: 10px;
    }
    #content .col1.sidebar-min {
      width: 100%;
    }
    #content .col2.sidebar-min {
      width: 0;
    }
    #content .col1 .title {
      padding: 0 5px;
    }
    #content .col1 .details {
      padding: 5px;
      margin-top: 7px;
    }
    #sidebar {
      display: none !important;
    }
    .navbar-toggle {
      display: none !important;
    }
    .title span {
      display: none !important;
    }
    .header {
      max-height: 34px;
      white-space: nowrap;
      overflow: hidden;
    }
    .details {
      height: calc(100vh - 250px);  /* 210 */
      overflow-y: scroll;
    }
  }
  /* Hide all messages and sidebar. */
  #messaging {
    display: none !important;
  }
</style>

<div class="header">
  <div class="title">
    <h1>{{ title | translate }}</h1>
  </div>
</div>

<div class="details">
  <!-- Detail view 1: Motion or topic text. -->
  <div ng-if="!vote && !canVote && (!poll || !poll.has_votes)" ng-bind-html="text | translate"></div>

  <!-- Detail view 2: Vote casted. -->
  <div ng-if="vote && poll && !poll.has_votes">
    <translate>Your vote has been counted.<br/>You have voted</translate>
    <strong> {{ vote | translate }}</strong>.
  </div>

  <ng-include src="'static/templates/openslides_voting/submit-buttons-css.html'"></ng-include>

  <!-- Detail view 3: Vote submit form. -->
  <div ng-if="canVote && !vote">
    <style type="text/css">
      .option {
        padding: 8px 6px;
      }
      .bold {
        margin: 8px;
      }
    </style>

    <div class="pointer option" ng-click="select('Yes');">
      <button type="button" class="btn btn-default btn-voting btn-voting-xs btn-yes">
        <i class="fa fa-thumbs-o-up fa-2x"></i>
      </button>
      <translate>Yes</translate>
    </div>

    <div class="pointer option" ng-click="select('No');">
      <button type="button" class="btn btn-default btn-voting-xs btn-no">
        <i class="fa fa-thumbs-o-down fa-2x"></i>
      </button>
      <translate>No</translate>
    </div>

    <div class="pointer option" ng-click="select('Abstain');">
      <button type="button" class="btn btn-default btn-voting-xs btn-abstain">
        <i class="fa fa-circle-o fa-2x"></i>
      </button>
      <translate>Abstain</translate>
    </div>

    <div ng-if="!selection.value" class="bold" translate>
      Please vote now!
    </div>

    <div ng-if="selection.value" class="bold">
      <translate>Your current choice:</translate> {{ selection.display | translate }}
      <div>
        <button ng-disabled="selection.submitted"
          type="button" class="btn btn-primary spacer-top" ng-click="submitVote()" translate>
          Submit
        </button>
        </div>
    </div>
  </div>

  <!-- Detail view 4: Voting result. -->
  <table ng-if="poll.has_votes">
    <style type="text/css">
      td {
        padding: 6px;
      }
      td.bold {
        font-weight: bold;
        text-align: left;
      }
      td.chart {
        width: 400px;
      }
      td.chart .progress {
        margin-bottom: 4px;
      }
      @media only screen and (max-width: 767px) {
        td.chart {
          width: 200px;
        }
      }
    </style>
    <tr>
      <td>
        <button type="button" class="btn btn-default btn-voting-xs btn-yes">
          <i class="fa fa-thumbs-o-up fa-2x"></i>
        </button>
      <td class="bold chart">
        <translate>Yes</translate>: {{ poll.yes | number:votesPrecision }}
        <span ng-if="poll.getVote(poll.yes, 'yes').percentNumber">
          {{ poll.getVote(poll.yes, 'yes').percentStr || '&nbsp;' }}
        </span>
        <div ng-if="poll.getVote(poll.yes, 'yes').percentNumber">
          <uib-progressbar value="poll.getVote(poll.yes, 'yes').percentNumber" type="success"></uib-progressbar>
        </div>

    <tr>
      <td>
        <button type="button" class="btn btn-default btn-voting-xs btn-no">
          <i class="fa fa-thumbs-o-down fa-2x"></i>
        </button>
      <td class="bold chart">
        <translate>No</translate>: {{ poll.no | number:votesPrecision }}
        <span ng-if="poll.getVote(poll.no, 'no').percentNumber">
          {{ poll.getVote(poll.no, 'no').percentStr || '&nbsp;' }}
        </span>
        <div ng-if="poll.getVote(poll.no, 'no').percentNumber">
          <uib-progressbar value="poll.getVote(poll.no, 'no').percentNumber" type="danger"></uib-progressbar>
        </div>

    <tr>
      <td>
        <button type="button" class="btn btn-default btn-voting-xs btn-abstain">
          <i class="fa fa-circle-o fa-2x"></i>
        </button>
      <td class="bold chart">
        <translate>Abstain</translate>: {{ poll.abstain | number:votesPrecision }}
        <span ng-if="poll.getVote(poll.abstain, 'abstain').percentNumber">
          {{ poll.getVote(poll.abstain, 'abstain').percentStr || '&nbsp;' }}
        </span>
        <div ng-if="poll.getVote(poll.abstain, 'abstain').percentNumber">
          <uib-progressbar value="poll.getVote(poll.abstain, 'abstain').percentNumber" type="warning"></uib-progressbar>
        </div>

      <tr>
        <td colspan="2" class="bold">
          <translate>Valid votes</translate>: {{ poll.votesvalid | number:votesPrecision }}
          {{ poll.getVote(poll.votesvalid, 'votesvalid').percentStr }}
    </table>
</div>

<div os-perms="agenda.can_be_speaker" class="spacer-top">
  <button ng-if="!speakerPos" ng-disabled="!speakerListOpen" ng-click="addSpeaker()"
    type="button" class="btn btn-default pull-right">
    <i class="fa fa-microphone fa-lg"></i>
    <translate>Add me to speakers</translate>
  </button>

  <span ng-if="speakerPos">{{ speakerPos }}. <translate>Speaker</translate></span>
  <span ng-if="!speakerPos">--</span>

  <button ng-if="speakerPos" ng-disabled="!speakerListOpen" ng-click="removeSpeaker()"
    type="button" class="btn btn-default pull-right">
    <i class="fa fa-microphone-slash fa-lg"></i>
    <translate>Remove me from speakers</translate>
  </button>
</div>
