<!-- Detail view 1: Candidates. -->
<table ng-if="!vote && !canVote && poll && !poll.has_votes">
  <style type="text/css">
    th {
      text-transform: uppercase;
    }
    td, th {
      padding: 6px;
      vertical-align: top;
    }
    td.bold {
      font-weight: bold;
      text-align: left;
    }
  </style>
  <tr>
    <th translate>Candidates
  <tr ng-repeat="option in poll.options | orderBy:'weight'" ng-init="votes = option.getVotes()">
    <td class="bold">
      {{ option.candidate.short_name }}
</table>

<!-- Detail view 2: Vote casted. -->
<div ng-if="vote && poll && !poll.has_votes" class="center-block larger bold">
  <translate>Your ballot has been registered.</translate>
</div>

<ng-include src="'static/templates/openslides_voting/submit-buttons-css.html'"></ng-include>

<!-- Detail view 3: Vote submit form. -->
<div ng-if="canVote && !vote">
  <style type="text/css">
    @media only screen and (max-width: 767px) {
      .options {
        height: calc(100vh - 266px);
        overflow-y: auto;
      }
      .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  </style>

  <div ng-if="poll.pollmethod === 'votes'">
    <div ng-if="!somethingSelected()" class="center bold text-danger" translate>
      {{ config('voting_start_prompt_assignments') | translate }}
    </div>
    <div ng-if="somethingSelected()" class="center bold text-danger truncate">
      <translate>Your current choice:</translate>
      <span ng-if="candidatesSelected().length && poll.assignment.open_posts === 1">
        {{ getCandidate(candidatesSelected()[0]-1).short_name }}
      </span>
      <span ng-if="candidatesSelected().length && poll.assignment.open_posts > 1">
        {{ candidatesSelected().length }} / {{ poll.assignment.open_posts }}
      </span>
      <span ng-if="votes.no" translate>No</span>
      <span ng-if="votes.abstain" translate>Abstain</span>
    </div>

    <div class="spacer-top options">
      <table class="fill">
        <tr ng-repeat="option in poll.options | orderBy: 'weight'">
          <td colspan="2" class="pointer option" ng-click="clickCandidate(option.index + 1)">
            <button type="button" class="btn btn-default btn-voting btn-voting-xs pull-left"
              ng-class="votes[(option.index + 1)] ? 'btn-yes' : 'btn-gray'">
              <i class="fa fa-thumbs-o-up fa-2x"></i>
            </button>
            {{ option.candidate.short_name }}

        <tr>
          <td class="pointer option" ng-click="clickNo()">
            <button type="button" class="btn btn-default btn-voting btn-voting-xs"
              ng-class="votes.no ? 'btn-no' : 'btn-gray'">
              <i class="fa fa-thumbs-o-down fa-2x"></i>
            </button>
            <translate>No</translate>

          <td class="pointer option" ng-click="clickAbstain()">
            <button type="button" class="btn btn-default btn-voting btn-voting-xs"
              ng-class="votes.abstain ? 'btn-abstain' : 'btn-gray'">
              <i class="fa fa-circle-o fa-2x"></i>
            </button>
            <translate>Abstain</translate>
      </table>

      <div class="spacer-top center">
        <button ng-disabled="!canSubmitAssignmentPoll()"
          type="button" class="btn btn-primary spacer-top" ng-click="submitVote()" translate>
          Submit
        </button>
      </div>
    </div>
  </div>

  <div ng-if="poll.pollmethod !== 'votes'">
    <div ng-if="!somethingSelected() || poll.options.length > 1" class="center bold text-danger" translate>
      {{ config('voting_start_prompt_assignments') | translate }}
    </div>
    <div ng-if="somethingSelected() && poll.options.length === 1" class="center bold text-danger">
      <translate>Your current choice:</translate>
      <span ng-if="votes[candidatesSelected()[0]] === 'Y'" translate>Yes</span>
      <span ng-if="votes[candidatesSelected()[0]] === 'N'" translate>No</span>
      <span ng-if="votes[candidatesSelected()[0]] === 'A'" translate>Abstain</span>
    </div>

    <div class="spacer-top options">
      <table class="fill">
        <style type="text/css">
          @media only screen and (max-width: 767px) {
            .vote {
              width: 10%;
            }
          }
        </style>
        <tr ng-repeat="option in poll.options | orderBy: 'weight'">
          <td class="option">{{ option.candidate.short_name }}

          <td ng-click="votes[option.candidate.id] = 'Y'" class="pointer option vote">
            <button type="button" class="btn btn-default btn-voting btn-voting-xs"
              ng-class="votes[option.candidate.id] == 'Y' ? 'btn-yes' : 'btn-gray'">
              <i class="fa fa-thumbs-o-up fa-2x"></i>
            </button>
            <translate>Yes</translate>

          <td ng-click="votes[option.candidate.id] = 'N'" class="pointer option vote">
            <button type="button" class="btn btn-default btn-voting btn-voting-xs"
              ng-class="votes[option.candidate.id] == 'N' ? 'btn-no' : 'btn-gray'">
              <i class="fa fa-thumbs-o-down fa-2x"></i>
            </button>
            <translate>No</translate>

          <td ng-if="poll.pollmethod === 'yna'"
            ng-click="votes[option.candidate.id] = 'A'" class="pointer option vote">
            <button type="button" class="btn btn-default btn-voting btn-voting-xs"
              ng-class="votes[option.candidate.id] == 'A' ? 'btn-abstain' : 'btn-gray'">
              <i class="fa fa-circle-o fa-2x"></i>
            </button>
            <translate>Abstn</translate>
      </table>

      <div class="spacer-top center">
        <button ng-disabled="!canSubmitAssignmentPoll()"
          type="button" class="btn btn-primary spacer-top" ng-click="submitVote()" translate>
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Detail view 4: Voting result. -->
<table ng-if="poll.has_votes" class="fill">
  <style type="text/css">
    th {
      text-transform: uppercase;
    }
    td, th {
      padding: 6px;
      vertical-align: top;
    }
    td.bold {
      font-weight: bold;
      text-align: left;
    }
  </style>

  <!-- Candidates and their votes. -->
  <tr ng-repeat="option in poll.options | orderBy:'weight'" ng-init="votes = option.getVotes()">
    <td class="bold">
      <i ng-if="option.is_elected" class="fa fa-star" title="{{ 'is elected' | translate }}"></i>
      {{ option.candidate.short_name }}
    <td ng-if="poll.pollmethod === 'votes'" class="bold vote-column">
      {{ votes[0].value | number:votesPrecision }} {{ votes[0].percentStr }}
    <td ng-if="poll.pollmethod !== 'votes'" class="bold vote-column">
      <span>
        {{ votes[0].label | translate }}: {{ votes[0].value | number:votesPrecision }} {{ votes[0].percentStr }}
        <br>
        {{ votes[1].label | translate }}: {{ votes[1].value | number:votesPrecision }} {{ votes[1].percentStr }}
      </span>
      <span ng-if="poll.pollmethod === 'yna'">
        <br>
        {{ votes[2].label | translate }}: {{ votes[2].value | number:votesPrecision }} {{ votes[2].percentStr }}
      </span>

  <!-- Abstain, No, Valid votes. -->
  <tr ng-if="poll.pollmethod === 'votes' && poll.getVote('votesabstain').value !== null">
    <td>
      <translate>Abstain</translate>
    <td ng-init="vote = poll.getVote('votesabstain')">
      {{ vote.value | number:votesPrecision }} {{ vote.percentStr }}
  <tr ng-if="poll.pollmethod === 'votes' && poll.getVote('votesno').value !== null">
    <td>
      <translate>No</translate>
    <td ng-init="vote = poll.getVote('votesno')">
      {{ vote.value | number:votesPrecision }} {{ vote.percentStr }}
  <tr ng-if="poll.getVote('votesvalid').value !== null">
    <td>
      <translate>Valid ballots</translate>
    <td ng-init="vote = poll.getVote('votesvalid')">
      {{ vote.value | number:votesPrecision }} {{ vote.percentStr }}
</table>
